# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

#vscode
.vscode

# other
eclipse
/run/
/run-data/
/tools/
/logs/

# 内存看板编译产物
/tools/mem-monitor/bin/

# skills folder
/.dsh/

# Files from Forge MDK
forge*changelog.txt
/mcmodsrepo/
/src/main/java/com/witcherbb/help/
/.screen-share/
/.dsh-tmp/
/.dsh-tmpstats.txt
