# 忽略所有
*

!*/
!.gitignore
!.gitattributes

# 源文件
!build-logic/
!build-logic/**
!buildSrc/
!buildSrc/**
!common/
!common/**
!forge/
!forge/**
!fabric/
!fabric/**

# 根目录工程文件
!gradle/
!gradle/**
!bugs.md
!build.gradle
!changelog.txt
!CREDITS.txt
!gradle.properties
!gradlew
!gradlew.bat
!icon.png
!LICENSE
!README.md
!settings.gradle

# 忽略
.gradle/
bin/
build/
logs/
run/
run-data/
generated/
